@tailwind base;
@tailwind components;
@tailwind utilities;

/* optional: slim scrollbar */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  border-radius: 999px;
  background-color: rgba(148, 163, 184, 0.7);
}
